---
import type { GetStaticPathsItem, GetStaticPathsResult } from "astro";
import type { CollectionEntry, CollectionKey } from "astro:content";
import { getCollection, render } from "astro:content";

import LayoutRoot from "../../components/layout/layout-root.astro";
import ArticleRenderer from "../../components/organisms/ArticleRenderer.astro";
import ProgressNavigation from "../../components/organisms/ProgressNavigation.astro";
import MetaBar from "../../components/molecules/MetaBar.astro";
import Heading from "../../components/atoms/Heading.astro";
import { collections } from "../../lib";
import { getViewPageProps } from "../../lib/content/api";

export const prerender = true;

type Props = CollectionEntry<CollectionKey>;

export async function getStaticPaths(): Promise<GetStaticPathsResult> {
  const result = await Promise.all(
    collections.map(async (collection): Promise<GetStaticPathsItem[]> => {
      const items = await getCollection(collection);

      return items.map((item): GetStaticPathsItem => {
        const { collection, id: slug } = item;
        return {
          params: { collection, slug },
          props: item,
        };
      });
    }),
  );

  return result.flat();
}

const entry = Astro.props as Props;
const { collection } = Astro.params;

if (entry === undefined) {
  return Astro.redirect("/404");
}

const { Content, headings } = await render(entry);
const viewProps = await getViewPageProps(entry as any);
---

<LayoutRoot title={viewProps.title} description={viewProps.description || ""} slug={`/${collection}/${entry.id}`}>
  <ArticleRenderer>
    <div slot="header" class="space-y-6">
      <Heading level={1} size="display" class="max-w-4xl">
        {viewProps.title}
      </Heading>

      <MetaBar description={viewProps.description} tags={viewProps.tags} toolbarItems={viewProps.toolbarItems} />
    </div>

    {headings.length > 0 && <ProgressNavigation slot="toc" />}

    <Content />
  </ArticleRenderer>
</LayoutRoot>
