---
import { FEATURED_CONTENT } from "../../config";
import { getItemCardProps } from "../../lib/content/api";
import ResourceDiscovery from "../organisms/resource-discovery.astro";

interface Props {
  projects: any[];
}

const { projects } = Astro.props;
---

<div class="lg:col-span-12">
  <ResourceDiscovery
    baseUrl="/projects"
    collectionItems={projects as any}
    collectionKey="projects"
    containerId="featured-projects"
    description={FEATURED_CONTENT.title}
    display="grid"
    getItemCardProps={getItemCardProps as any}
    headerDescription={FEATURED_CONTENT.description}
    headerIcon="mdi:star-outline"
    headerTitle={FEATURED_CONTENT.title}
    initialPageSize={3}
    title={FEATURED_CONTENT.title}
    totalItems={projects.length}
  />
</div>
