---
import type { ImageMetadata } from 'astro';

import { Image } from 'astro:assets';
import { cva, type VariantProps } from 'class-variance-authority';

import { cn } from '../../lib/cn';

const variants = cva(
  'relative flex items-center justify-center overflow-hidden rounded-full bg-muted',
  {
    defaultVariants: {
      ring: false,
      size: 'md',
      tinted: false,
    },
    variants: {
      ring: {
        false: '',
        true: 'ring-2 ring-ring ring-offset-2 ring-offset-background',
      },
      size: {
        '2xl': 'size-32',
        lg: 'size-16',
        md: 'size-10',
        sm: 'size-8',
        xl: 'size-24',
        xs: 'size-6',
      },
      tinted: {
        false: '',
        true: 'grayscale transition-all duration-500 hover:grayscale-0',
      },
    },
  }
);

interface Props extends VariantProps<typeof variants> {
  alt: string;
  class?: string;
  fetchpriority?: 'auto' | 'high' | 'low';
  loading?: 'eager' | 'lazy';
  src: ImageMetadata | string;
}

const {
  alt,
  class: className,
  fetchpriority,
  loading,
  ring,
  size,
  src,
  tinted,
} = Astro.props;

const sizeMap: Record<string, number> = {
  '2xl': 128,
  lg: 64,
  md: 40,
  sm: 32,
  xl: 96,
  xs: 24,
};

const imageSize = (size && typeof size === 'string' && sizeMap[size]) || 40;
---

<div class:list={cn(variants({ className, ring, size, tinted }))}>
  <Image
    alt={alt}
    class="size-full object-cover"
    fetchpriority={fetchpriority}
    height={imageSize}
    loading={loading}
    src={src as any}
    width={imageSize}
  />

  {tinted && (
    <div class="absolute inset-0 bg-primary/40 opacity-100 mix-blend-color transition-opacity duration-500 group-hover:opacity-0"></div>
  )}
</div>
