---
import type { HTMLAttributes } from "astro/types";

import { cn } from "../../lib/utils";

interface Props extends HTMLAttributes<"span"> {
  decimalPlaces?: number;
  delay?: number;
  direction?: "down" | "up";
  startValue?: number;
  value: number;
}

const {
  class: className,
  decimalPlaces = 0,
  delay = 0,
  direction = "up",
  startValue = 0,
  value,
  ...props
} = Astro.props;
---

<span
  class:list={cn("inline-block tabular-nums", className)}
  data-decimal-places={decimalPlaces}
  data-delay={delay}
  data-direction={direction}
  data-start-value={startValue}
  data-ticker
  data-value={value}
  {...props}
>
  {startValue}
</span>

<script>
  import { initTickers } from "../../lib/utils";

  initTickers();
  document.addEventListener("astro:page-load", initTickers);
</script>
