---
import { SITE_CONFIG, STATS } from "../../config";
import Heading from "../atoms/heading.astro";
import Text from "../atoms/text.astro";
import Meteors from "./../atoms/meteors.astro";
import Stat from "./stat.astro";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class:list={["relative -mt-12 space-y-4 overflow-hidden py-8 md:py-16", className]}>
  <Meteors number={30} />

  <div class="relative z-10 space-y-1">
    <Text class="font-mono tracking-tight text-foreground/50" size="lg"> Hi, I'm </Text>
    <Heading class="leading-[1.1]" size="display">
      <span class="animate-shiny-text block">
        {SITE_CONFIG.author}
      </span>
    </Heading>
    <Text class="max-w-xl font-mono tracking-tight text-foreground/50" size="lg">
      {SITE_CONFIG.tagline}
    </Text>
  </div>

  {/* Statistics */}
  <div class="flex flex-wrap justify-start gap-3 pt-3 md:gap-4">
    {
      STATS.map((stat) => (
        <Stat
          class="origin-left scale-95 md:scale-100"
          icon={stat.icon}
          label={stat.label}
          unit={stat.unit}
          value={stat.value}
        />
      ))
    }
  </div>
</div>
