---
import Pagination from "./pagination.astro";

interface Props {
  baseUrl: string;
  currentPage: number;
  getPageUrl?: (_page: number) => string;
  nextUrl?: string;
  paginationType?: "path" | "query";
  prevUrl?: string;
  showViewToggle?: boolean;
  totalPages: number;
}

const {
  baseUrl,
  currentPage,
  getPageUrl: customGetPageUrl,
  nextUrl,
  paginationType = "path",
  prevUrl,
  totalPages,
} = Astro.props;
---

<div class="flex flex-wrap items-center gap-2">
  <Pagination
    baseUrl={baseUrl}
    currentPage={currentPage}
    getPageUrl={customGetPageUrl}
    nextUrl={nextUrl}
    paginationType={paginationType}
    prevUrl={prevUrl}
    totalPages={totalPages}
  />
</div>
