---
import type { CollectionEntry } from "astro:content";

import { type CollectionName, type ToolbarItem } from "../../lib/collection-pages";
import BackButton from "../atoms/back-button.astro";
import ToolbarItemComponent from "../atoms/toolbar-item.astro";
import ToolbarLogo from "../atoms/toolbar-logo.astro";
import PostActions from "./post-actions.astro";
import PostAuthor from "./post-author.astro";
import TagItem from "./tag-item.astro";

interface Props {
  author?: { avatar: ImageMetadata; name: string; role: string };
  backLink: string;
  collection: CollectionName;
  data: CollectionEntry<CollectionName>["data"];
  items: ToolbarItem[];
  tags?: { id: string; label: string }[];
  tagsTitle?: string;
}

const { author, backLink, collection, data, items = [], tags = [] } = Astro.props;
---

<div
  class="flex flex-col gap-5 border-t border-b border-foreground/10 py-4 my-6"
>
  <div class="flex flex-wrap items-center justify-between gap-6">
    <div class="flex flex-wrap items-center gap-8 sm:gap-12">
      <div class="scale-90 sm:scale-100">
        <BackButton collection={collection} href={backLink}>
          Back
        </BackButton>
      </div>

      <div class="flex flex-wrap items-center gap-x-10 gap-y-4">
        {
          items.map((item) => (
            <ToolbarItemComponent>
              <span slot="label">{item.label}</span>
              <div class="flex items-center gap-2">
                {item.href ? (
                  <a
                    class="flex items-center gap-2.5 transition-colors outline-none hover:text-primary focus-visible:text-primary"
                    href={item.href}
                    target="_blank"
                  >
                    {item.logo && <ToolbarLogo alt={item.value} size="md" src={item.logo} />}
                    <span>{item.value}</span>
                  </a>
                ) : (
                  <div class="flex items-center gap-2.5">
                    {item.logo && <ToolbarLogo alt={item.value} size="md" src={item.logo} />}
                    <span>{item.value}</span>
                  </div>
                )}
              </div>
            </ToolbarItemComponent>
          ))
        }
      </div>
    </div>

    <div class="flex items-center gap-6 sm:gap-10">
      <PostAuthor author={author} />
      <PostActions collection={collection} data={data} />
    </div>
  </div>

  {
    tags && tags.length > 0 && (
      <div class="border-t border-foreground/10 pt-3 mt-1">
        <div class="flex flex-wrap items-center gap-x-10 gap-y-4">
          {tags.map((tag) => (
            <TagItem id={tag.id} label={tag.label} />
          ))}
        </div>
      </div>
    )
  }
</div>
