---
import { NAV_ITEMS } from '../../lib/config';
import Card from '../molecules/card.astro';

// Filter out Home link and get nav items
// We'll manually pick items to control the bento layout precisely
const blogItem = NAV_ITEMS.find(i => i.label === 'Blog');
const projectsItem = NAV_ITEMS.find(i => i.label === 'Projects');
const experienceItem = NAV_ITEMS.find(i => i.label === 'Experience');
const playgroundItem = NAV_ITEMS.find(i => i.label === 'Playground');

const bentoItems = [
  { ...projectsItem!, class: "col-span-1 row-span-1" },
  { ...experienceItem!, class: "col-span-1 row-span-1" },
  { ...blogItem!, class: "col-span-1 row-span-1" },
  { ...playgroundItem!, class: "col-span-1 row-span-1" },
];
---

<div class="grid size-full grid-cols-1 gap-4 sm:grid-cols-2 lg:gap-6">
  {
    bentoItems.map((item, index) => (
      <div class:list={[
        "group h-full transition-all duration-500",
        item.class
      ]}>
        <Card
          animate={true}
          class="h-full min-h-[200px]"
          delay={index * 100}
          glowColor={item.color}
          href={item.href}
          icon={item.icon}
          style="navigation"
          title={item.label}
          variant="icon"
        />
      </div>
    ))
  }
</div>
