---
import { NAV_ITEMS } from '../../lib/config';
import Card from './card.astro';
import ProfileHeader from './profile-header.astro';

const { items = NAV_ITEMS.filter((i) => i.label !== 'Home') } = Astro.props;

interface Props {
  items?: typeof NAV_ITEMS[number][];
}
---

<div class="flex flex-col gap-8">
  {/* Profile Header */}
  <ProfileHeader />

  {/* Navigation Grid */}
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    {
      items.map((item) => (
        <Card
          class="h-full"
          glowColor={item.color}
          href={item.href}
          icon={item.icon}
          subtitle={item.description}
          title={item.label}
          variant="icon"
          visual="glass"
        />
      ))
    }
  </div>
</div>
