---
import type { CollectionEntry } from "astro:content";

import { type CollectionItem, type CollectionName, getViewPageProps } from "../../lib/collection-pages";
import BackButton from "../atoms/back-button.astro";
import Heading from "../atoms/heading.astro";
import Stack from "../atoms/stack.astro";
import LayoutContent from "../layout/layout-content.astro";
import PostHeroImage from "../molecules/post-hero-image.astro";
import PostToolbar from "../molecules/post-toolbar.astro";

interface Props {
  backLink?: string;
  collection: CollectionName;
  entry: CollectionEntry<CollectionName>;
}

const {
  collection,
  entry: { data, id },
} = Astro.props;

const item: CollectionItem<CollectionName> = {
  collection,
  data,
  id,
};

const viewPageProps = getViewPageProps(item);

const { backLink: defaultBackLink, description, image, tags, title, toolbarItems } = viewPageProps;

const backLink = Astro.props.backLink ? { ...defaultBackLink, href: Astro.props.backLink } : defaultBackLink;
---

<LayoutContent description={description} title={title}>
  <!-- Condensed Header Content (Left Aligned) -->
  <div class="mb-12">
    <Stack gap={10}>
      <div class="mb-6">
        <BackButton link={backLink} />
      </div>

      <Heading level={1} size="hero" class="mb-6">
        {title}
      </Heading>

      <PostToolbar description={description} tags={tags} toolbarItems={toolbarItems} />
    </Stack>
  </div>

  <PostHeroImage image={image} />

  <slot />
</LayoutContent>
