---
import type { HTMLAttributes } from "astro/types";

import MetricBlock from "../molecules/metric-block.astro";

interface Props extends HTMLAttributes<"div"> {
  items: readonly StatItem[];
}

interface StatItem {
  format?: "compact" | "plain";
  icon: string;
  label: string;
  unit?: string;
  value: number;
}

const { class: className, items, ...props } = Astro.props;
---

<div class={`flex flex-wrap gap-4 md:gap-8 ${className}`} {...props}>
  {
    items.map((item) => (
      <MetricBlock
        class="origin-left transition-transform duration-300 hover:scale-105"
        format={item.format}
        icon={item.icon}
        label={item.label}
        unit={item.unit}
        value={item.value}
      />
    ))
  }
</div>
